<h1>Search articles</h1>
 
<table border=1>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, "detail/" + article.id.to_s %></td>
      <td><%= article.text %></td>
    </tr>
  <% end %>
</table>

